mixin footer()
	+b.FOOTER.footer.section
		.container-fluid
			+e.row.row
				.col-md-auto
					+e.copyright 2023 Epicris
				.col-md-auto
					a(href="#") Реклама и&nbsp;контакты
				.col-md-auto
					a(href="#") Политика конфиденциальности
				.col-md-auto
					a(href="#") Все категории

mixin footer2()
	+b.FOOTER.footer.section
		.container-fluid.container-lg
			+e.row.row
				.col-md-auto
					a(href="#") Реклама и&nbsp;контакты
				.col-md-auto
					a(href="#") Политика конфиденциальности
				.col-md-auto
					a(href="#") Все категории
				.col-md-auto.ms-md-auto
					+e.copyright © Anonymno 2022-2023.