mixin footer()
	+b.FOOTER.footer.section
		.container-fluid
			+e.row.row
				.col-md-auto
					+e.copyright 2023 Epicris
				.col-md-auto
					a(href="#") Реклама и&nbsp;контакты
				.col-md-auto
					a(href="#") Политика конфиденциальности
				.col-md-auto
					a(href="#") Все категории