:root {
	--fancybox-content-bg: none;
}

.fancybox__content {
	padding: 0;
	max-width: 100%;
}

// .fancybox__track {
// 	transform: none !important;
// }

.modal-win {
	// display: block;
	background-color: #fff;
	max-width: 100%;
	position: relative;
	width: rem(1500);
	// min-height: 100%;
	padding: 40px;

	.modal-content {
		// max-width: 485px;
		// padding-right: 40px 15px;
	}

	.mfp-close {
		color: $primary;
		font-size: 40px;
		font-weight: 100;
	}
}

a {
	outline: 0 !important;
}

.modal-form {
	position: relative;
}

#foot-dialog {
	h3 {
		font-size: em(36);
	}
}

.mfp-close {
	user-select: none; // width: 44px;
	// height: 44px;
	// line-height: 44px;
	position: absolute;
	right: 0;
	top: 0;
	text-decoration: none;
	text-align: center;
	opacity: 0.65; // padding: 0 0 18px 10px;
	// color: #fff;
	font-style: normal;
	font-size: 28px;
	font-family: Arial, Baskerville, monospace;
	overflow: visible;
	cursor: pointer;
	background: 0 0;
	border: 0;
	display: block;
	outline: 0;
	padding: 0;
	z-index: 1046;
	box-shadow: none;
	color: $body-color;
	opacity: 1;
	font-size: 50px;
	font-weight: 100;
	width: 56px;
	height: 56px; // box-shadow: 0 10px $h2-font-size rgba(0, 0, 0, 0.15);
	// background-color: #fff;
	border-radius: 50%;
	line-height: 56px;
	text-align: center;
	margin-top: -5px;
	margin-right: -5px;
	@include mt;

	&:hover {
		// background-color: #e3f3f6;
	}
}

@include media-breakpoint-up(sm) {
	.modal-text {
		max-width: 1000px;
	}
}

.polite {
	.link {
		color: $primary;
		cursor: pointer;
		text-decoration: underline;

		:hover {
			display: none;
		}
	}
}

.modal-review {
	--spacing: #{rem(24)};
	background-color: $white;
	max-width: 100%;
	position: relative;
	width: rem(850);
	min-height: rem(740);
	box-shadow: 0px 8px 32px rgba(0, 0, 0, 0.08);
	// padding: rem(32);
	@include media-breakpoint-up(sm) {
		border-radius: $border-radius;
	}

	@include media-breakpoint-up(md) {
		--spacing: #{rem(32)};
	}
	.form-wrap {
		textarea {
			min-height: rem(128);
		}
		&__input-wrap {
			margin-bottom: var(--spacing);
			&:last-child {
				margin-bottom: 0;
			}
		}
		&__head {
			padding: var(--spacing) var(--spacing) calc(var(--spacing) * 0.75);
			border-bottom: 1px solid #e8e8e8;
			.h3 {
				margin-bottom: 0;
			}
		}
		&__content {
			padding: var(--spacing);
		}
		&__footer {
			padding: var(--spacing);
			border-top: 1px solid #e8e8e8;
			.row {
				--bs-gutter-x: #{rem(16)};
				--bs-gutter-y: #{rem(8)};
				margin-bottom: rem(16);
			}
		}
		&__agreement {
			text-align: center;
			color: $secondary;
			font-size: rem(14);
			line-height: calc(20 / 14);
		}
		&__switch {
			display: inline-flex;
			align-items: center;
			padding-left: 0;
			line-height: calc(28 / 18);
			margin-bottom: var(--spacing);
			font-size: rem(14);
			@include media-breakpoint-up(lg) {
				font-size: rem(18);
			}
			.form-check-input {
				margin-left: 0;
				margin-top: 0;
				width: em(44);
				height: em(24);
				margin-right: rem(16);
				flex-shrink: 0;
				background-size: em(18);
				background-position: 2px;
				box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.16);
				background-color: #dedede;
				border: none;
				@include media-breakpoint-up(lg) {
					background-size: em(20);
				}
				&:checked {
					background-position: calc(100% - 2px);
					background-color: $primary;
				}
			}
		}
		&__plusMinus {
			margin-bottom: var(--spacing);
			textarea {
				min-height: rem(68);
			}
		}
		&__notice {
			.custom-input {
				margin-bottom: 0;
				&__text {
					font-size: rem(16);
					@include media-breakpoint-up(lg) {
						font-size: rem(18);
					}
				}
			}
		}
		&__btn {
			width: 100%;
			--bs-btn-font-size: #{rem(16)};
			--bs-btn-line-height: calc(32 / 16);
			--bs-btn-padding-y: #{rem(8)};
			@include media-breakpoint-up(sm) {
				--bs-btn-padding-y: #{rem(11)};
			}
		}
	}

	.rating {
		margin-bottom: rem(14);
		@include media-breakpoint-up(lg) {
			margin-bottom: rem(28);
		}
	}
	.select2 {
		width: 100% !important;
		margin-bottom: 0;
		&-selection {
			&--single {
				--bs-form-select-bg-img: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M2.96967 7.96742C3.26256 7.67753 3.73744 7.67753 4.03033 7.96742L12 15.8554L19.9697 7.96742C20.2626 7.67753 20.7374 7.67753 21.0303 7.96742C21.3232 8.25731 21.3232 8.72732 21.0303 9.01721L12.3536 17.6051C12.1583 17.7983 11.8417 17.7983 11.6464 17.6051L2.96967 9.01721C2.67678 8.72732 2.67678 8.25731 2.96967 7.96742Z' fill='black'/%3E%3C/svg%3E%0A");
				padding-left: rem(18);
				background-size: 24px 24px;
				background-position: right 9px center;
				padding-top: rem(8);
				padding-bottom: rem(8);
				padding-right: rem(32);
				@include media-breakpoint-up(lg) {
					padding-top: rem(17);
					padding-bottom: rem(17);
					padding-left: rem(24);
					padding-right: rem(72);
					background-position: right 24px center;
				}
			}
			&__placeholder,
			&__rendered {
				font-size: rem(16) !important;
				color: #000 !important;
				@include media-breakpoint-up(lg) {
					font-size: rem(18) !important;
				}
				img {
					width: rem(18);
					height: rem(18);
					object-fit: cover;
					margin-right: rem(12);
					@include media-breakpoint-up(lg) {
						margin-right: rem(16);
						width: rem(24);
						height: rem(24);
					}
				}
			}
			&__placeholder {
				color: #9da1a6 !important;
			}
		}
		&-container {
			&--open {
				.select2-selection__placeholder {
					color: #000 !important;
				}
				.select2-selection {
					border-color: $primary;
				}
				.select2-selection--single {
					--bs-form-select-bg-img: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M2.96967 16.0326C3.26256 16.3225 3.73744 16.3225 4.03033 16.0326L12 8.1446L19.9697 16.0326C20.2626 16.3225 20.7374 16.3225 21.0303 16.0326C21.3232 15.7427 21.3232 15.2727 21.0303 14.9828L12.3536 6.39495C12.1583 6.20168 11.8417 6.20168 11.6464 6.39495L2.96967 14.9828C2.67678 15.2727 2.67678 15.7427 2.96967 16.0326Z' fill='black'/%3E%3C/svg%3E%0A");
				}
			}
		}
	}
	&--2 {
		display: flex;
		@include media-breakpoint-down(md) {
			flex-direction: column-reverse;
		}
		.form-wrap {
			font-family: $font-family-monospace;
			flex-grow: 1;
			&__head {
				padding: rem(24) rem(24) rem(16) rem(24);
			}
			&__title {
				font-size: rem(24);
				display: flex;
				align-items: center;
				.icon {
					flex: 0 0 auto;
					font-size: rem(24);
					margin-right: rem(8);
				}
			}
			&__content {
				padding: rem(20) rem(24) rem(16) rem(24);
				max-height: rem(572);
				overflow-y: auto;
				overflow-x: hidden;
			}
			&__footer {
				padding: rem(24);
				.row {
					margin-bottom: 0;
				}
			}
			&__btn {
				--bs-btn-padding-x: #{rem(12)};
				--bs-btn-padding-y: #{rem(7)};
				@include media-breakpoint-up(md) {
					--bs-btn-padding-y: #{rem(7)};
				}
			}
			&__input-wrap {
				margin-bottom: rem(24);
				label {
					display: flex;
					flex-direction: column;
				}
				p {
					margin-bottom: 0;
					font-size: rem(12);
					line-height: calc(14 / 12);
					color: #838383;
				}
			}
			&__input-title {
				order: -1;
				font-size: rem(13);
				color: #181818;
				margin-bottom: rem(4);
			}
			&__input {
				padding: rem(9.5) rem(16);
				border-width: 2px;
				border-radius: 8px;
				background-color: #fff;
				font-size: rem(16);
				margin-bottom: rem(4);
				&:not(:focus) {
					border-color: #e0e0e0;
				}
			}
			&__policy {
				max-width: rem(500);
				font-size: rem(14);
				color: #181818;
			}
			.rating__title {
				font-size: rem(13);
			}
			.rating__group {
				@include media-breakpoint-up(lg) {
					--starSize: #{rem(24)};
				}
			}
			&__avatar-row {
				margin-bottom: rem(24);
				@include media-breakpoint-up(sm) {
					margin-bottom: rem(16);
				}
			}

			&__announcements {
				& > * {
					margin-bottom: rem(16);
					// &:last-child {
					// 	margin-bottom: 0;
					// }
				}
				.custom-input {
					line-height: rem(20);
					min-height: rem(20);
				}
				.form-check-label {
					font-size: rem(14);
					line-height: calc(20 / 14);
				}
			}

			&__item {
				@include block(80, 80);
				background-color: $light;
				width: rem(80);
				min-height: rem(80);
				color: #181818;

				border-radius: 50%;
				position: relative;
				overflow: hidden;
				margin-bottom: rem(16);
				// cursor: pointer;
				@include media-breakpoint-up(sm) {
					margin-top: rem(23);
					margin-bottom: 0;
				}
				input {
					cursor: pointer;
					position: absolute;
					opacity: 0;
					width: 100%;
					height: 100%;
					left: 0;
					top: 0;
					z-index: 4;
					&::file-selector-button {
						display: none;
					}
				}
				.icon {
					font-size: rem(32);
				}

				&:not(.active) {
					img {
						display: none;
					}
				}
			}
			&__wrap {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				@include a-cent();

				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
			}
			&__block {
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				img {
					cursor: pointer;
					z-index: 5;
					object-position: center;
					object-fit: contain;
				}
			}
			&__btn-delete {
				cursor: pointer;
				position: absolute;
				@include a-cent();
				color: #fff;
				width: rem(32);
				height: rem(32);
				border-radius: 50%;
				background-color: transparent;
				display: flex;
				align-items: center;
				justify-content: center;
				opacity: 0;
				pointer-events: none;
				z-index: 12;
				&.active {
					opacity: 1;
					pointer-events: all;
				}
				.icon {
					font-size: rem(32);
					margin-bottom: 0;
				}
			}
		}
		.select2-selection--single {
			background-color: #fff;
			@include media-breakpoint-up(lg) {
				padding: rem(9.5) rem(45) rem(9.5) rem(16);
			}
		}
		.select2-selection__rendered {
			img {
				width: rem(24);
				height: rem(24);
			}
		}
		.filepond {
			@include media-breakpoint-up(lg) {
				margin-bottom: rem(30);
			}
		}
		.filepond--drop-label {
			min-height: rem(142);
			@include media-breakpoint-up(lg) {
				min-height: rem(122);
			}
		}
		.customText-wrap {
			.h5 {
				font-weight: 500;
				color: #2c2c2c;
				margin-bottom: rem(4);
				font-size: rem(14);
				@include media-breakpoint-up(lg) {
					font-size: rem(14);
				}
			}
			p {
				color: #838383;
				font-size: rem(13);
				@include media-breakpoint-up(lg) {
					font-size: rem(13);
				}
			}
		}
		.tox-editor-header {
			background-color: #F2F2F2 !important;
		}
		.tox-toolbar-overlord {
			background-color: #F2F2F2 !important;
		}
		.tox-toolbar__primary {
			background-color: #F2F2F2 !important;
		}
		.tox-statusbar {
			position: static !important;
			height: 0 !important;
			padding: 0 !important;
			margin: 0 !important;
			border-top: none !important;
		}
		.tox-statusbar__text-container {
			display: none !important;
		}
		.tox-statusbar__resize-handle {
			position: absolute;
			right: 12px;
    	bottom: 4px;
			z-index: 1000;
			width: 16px;
			height: 16px;
			padding: 0;
			background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.41424 13.9999H13C13.5523 13.9999 14 13.5522 14 12.9999V6.41412C14 5.52321 12.9229 5.07704 12.2929 5.70701L5.70713 12.2928C5.07716 12.9228 5.52333 13.9999 6.41424 13.9999Z' fill='%23838383'/%3E%3C/svg%3E%0A");
			background-repeat: no-repeat;
			background-position: center;
			background-size: 16px 16px;
			svg {
				display: none !important;
			}
		}
		.tox-tbtn {
			svg {
				display: none !important;
			}
			&[aria-label="Blockquote"] {
				.tox-icon {
					width: rem(24);
					height: rem(24);
					background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5 6.5C5 6.22386 5.22386 6 5.5 6H10.5C10.7761 6 11 6.22386 11 6.5V12C11 15.1454 8.57969 17.7255 5.49985 17.9795C5.22464 18.0022 5 17.7761 5 17.5V16.5C5 16.2239 5.22498 16.0033 5.49901 15.9692C7.47264 15.7236 9 14.0402 9 12H5.5C5.22386 12 5 11.7761 5 11.5V6.5Z' fill='%23838383'/%3E%3Cpath d='M13 6.5C13 6.22386 13.2239 6 13.5 6H18.5C18.7761 6 19 6.22386 19 6.5V12C19 15.1454 16.5797 17.7255 13.4998 17.9795C13.2246 18.0022 13 17.7761 13 17.5V16.5C13 16.2239 13.225 16.0033 13.499 15.9692C15.4726 15.7236 17 14.0402 17 12H13.5C13.2239 12 13 11.7761 13 11.5V6.5Z' fill='%23838383'/%3E%3C/svg%3E%0A");
					background-repeat: no-repeat;
					background-position: center;
					background-size: contain;
				}
			}
			&[aria-label="Bold"] {
				.tox-icon {
					width: rem(24);
					height: rem(24);
					background-repeat: no-repeat;
					background-position: center;
					background-size: contain;
					background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M17.9231 8.5C17.9231 6.03921 16.4352 4 11.4688 4H5.53846C5.53846 4 5.53846 4 5.53846 4C5.44039 4 5.34843 4.02435 5.26923 4.06689C5.19834 4.10497 5.13767 4.15763 5.09196 4.22045C5.0339 4.30025 5 4.39645 5 4.5V19.5C5 19.7761 5.24108 20 5.53846 20H11.6087C16.4585 20 19 19 19 15.5C19 13.5196 18.1788 12.3396 16.5661 11.6883C17.5523 10.8696 17.9231 9.73817 17.9231 8.5ZM7.15385 17.9395L11.4921 17.9395C14.9896 17.9395 16.9482 17.6562 16.9482 15.4575C16.9482 13.5 15.1528 13.0392 11.6087 13.0392H7.15385L7.15385 17.9395ZM7.15385 10.9395L11.4921 10.9395C14.9896 10.9395 15.8712 9.91503 15.8712 8.45752C15.8712 7 15.1528 6.03921 11.6087 6.03921L7.15385 6.03922L7.15385 10.9395Z' fill='%23838383'/%3E%3C/svg%3E%0A");
				}
			}
			&[aria-label="Heading 1"] {
				.tox-tbtn__select-label {
					color: transparent;
					position: relative;
					width: rem(24);
					height: rem(24);
					background-repeat: no-repeat;
					background-position: center;
					background-size: contain;
					background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 4.5C6 4.22386 6.22386 4 6.5 4H7.5C7.77614 4 8 4.22386 8 4.5V11H16V4.5C16 4.22386 16.2239 4 16.5 4H17.5C17.7761 4 18 4.22386 18 4.5V19.5C18 19.7761 17.7761 20 17.5 20H16.5C16.2239 20 16 19.7761 16 19.5V13H8V19.5C8 19.7761 7.77614 20 7.5 20H6.5C6.22386 20 6 19.7761 6 19.5V4.5Z' fill='%23838383'/%3E%3C/svg%3E%0A");
				}
			}
			&[aria-label="Italic"] {
				.tox-icon {
					width: rem(24);
					height: rem(24);
					background-repeat: no-repeat;
					background-position: center;
					background-size: contain;
					background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9 4.5C9 4.22386 9.22386 4 9.5 4H16.5C16.7761 4 17 4.22386 17 4.5V5.5C17 5.77614 16.7761 6 16.5 6H13.75L12.25 18H14.5C14.7761 18 15 18.2239 15 18.5V19.5C15 19.7761 14.7761 20 14.5 20H7.5C7.22386 20 7 19.7761 7 19.5V18.5C7 18.2239 7.22386 18 7.5 18H10.25L11.75 6H9.5C9.22386 6 9 5.77614 9 5.5V4.5Z' fill='%23838383'/%3E%3C/svg%3E%0A");
				}
			}
			&[aria-label="Bullet list"] {
				.tox-icon {
					width: rem(24);
					height: rem(24);
					background-repeat: no-repeat;
					background-position: center;
					background-size: contain;
					background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5 8C6.10457 8 7 7.10457 7 6C7 4.89543 6.10457 4 5 4C3.89543 4 3 4.89543 3 6C3 7.10457 3.89543 8 5 8Z' fill='%23838383'/%3E%3Cpath d='M9.5 5H20.5C20.7761 5 21 5.22388 21 5.5V6.5C21 6.77612 20.7761 7 20.5 7H9.5C9.22388 7 9 6.77612 9 6.5V5.5C9 5.22388 9.22388 5 9.5 5Z' fill='%23838383'/%3E%3Cpath d='M20.5 11H9.5C9.22388 11 9 11.2239 9 11.5V12.5C9 12.7761 9.22388 13 9.5 13H20.5C20.7761 13 21 12.7761 21 12.5V11.5C21 11.2239 20.7761 11 20.5 11Z' fill='%23838383'/%3E%3Cpath d='M9.5 17H20.5C20.7761 17 21 17.2239 21 17.5V18.5C21 18.7761 20.7761 19 20.5 19H9.5C9.22388 19 9 18.7761 9 18.5V17.5C9 17.2239 9.22388 17 9.5 17Z' fill='%23838383'/%3E%3Cpath d='M5 20C6.10457 20 7 19.1046 7 18C7 16.8954 6.10457 16 5 16C3.89543 16 3 16.8954 3 18C3 19.1046 3.89543 20 5 20Z' fill='%23838383'/%3E%3Cpath d='M7 12C7 13.1046 6.10457 14 5 14C3.89543 14 3 13.1046 3 12C3 10.8954 3.89543 10 5 10C6.10457 10 7 10.8954 7 12Z' fill='%23838383'/%3E%3C/svg%3E%0A");
				}
			}
			&[aria-label="Numbered list"] {
				.tox-icon {
					width: rem(24);
					height: rem(24);
					background-repeat: no-repeat;
					background-position: center;
					background-size: contain;
					background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.80488 9.7503C3.80488 9.88837 3.91681 10.0003 4.05488 10.0003H7.06888C7.20695 10.0003 7.31888 9.88837 7.31888 9.7503V8.8783C7.31888 8.74023 7.20695 8.6283 7.06888 8.6283H6.26888V5.1543C6.26888 5.01623 6.15695 4.9043 6.01888 4.9043H5.17058C5.11997 4.9043 5.07055 4.91966 5.02886 4.94835L3.87523 5.74218C3.7653 5.81782 3.73416 5.96646 3.80447 6.07987L4.19121 6.70364C4.26662 6.82527 4.42853 6.8589 4.54613 6.77736L4.85488 6.5633V8.6283H4.05488C3.91681 8.6283 3.80488 8.74023 3.80488 8.8783V9.7503Z' fill='%23838383'/%3E%3Cpath d='M9.49995 5.00024H20.5C20.7761 5.00024 21 5.22412 21 5.50024V6.50024C21 6.77637 20.7761 7.00024 20.5 7.00024H9.49995C9.22383 7.00024 8.99995 6.77637 8.99995 6.50024V5.50024C8.99995 5.22412 9.22383 5.00024 9.49995 5.00024Z' fill='%23838383'/%3E%3Cpath d='M20.5 11.0002H9.49995C9.22383 11.0002 8.99995 11.2241 8.99995 11.5002V12.5002C8.99995 12.7764 9.22383 13.0002 9.49995 13.0002H20.5C20.7761 13.0002 21 12.7764 21 12.5002V11.5002C21 11.2241 20.7761 11.0002 20.5 11.0002Z' fill='%23838383'/%3E%3Cpath d='M20.5 17.0002H9.49995C9.22383 17.0002 8.99995 17.2241 8.99995 17.5002V18.5002C8.99995 18.7764 9.22383 19.0002 9.49995 19.0002H20.5C20.7761 19.0002 21 18.7764 21 18.5002V17.5002C21 17.2241 20.7761 17.0002 20.5 17.0002Z' fill='%23838383'/%3E%3Cpath d='M3.88689 19.0001C3.74882 19.0001 3.63689 18.8882 3.63689 18.7501V18.1696C3.63689 18.1051 3.66177 18.0432 3.70633 17.9966L5.37989 16.2491C5.37989 16.2491 5.82089 15.8501 5.82089 15.5211C5.82089 15.3181 5.65989 15.1571 5.42189 15.1571C5.22461 15.1571 5.06702 15.2531 4.98777 15.4176C4.92416 15.5497 4.80633 15.6713 4.66029 15.6586L3.79802 15.5838C3.66481 15.5722 3.56251 15.4573 3.58324 15.3252C3.72177 14.4426 4.42068 13.8271 5.45689 13.8271C6.63289 13.8271 7.31889 14.5131 7.31889 15.4021C7.31889 16.2141 6.47189 16.9351 6.47189 16.9351L5.82089 17.6281H7.06889C7.20696 17.6281 7.31889 17.7401 7.31889 17.8781V18.7501C7.31889 18.8882 7.20696 19.0001 7.06889 19.0001H3.88689Z' fill='%23838383'/%3E%3C/svg%3E%0A");
				}
			}
		}
	}
}

.modal-content {
	flex-grow: 1;
	font-family: $font-family-monospace;
	display: flex;
	flex-direction: column;
	&__head {
		padding: rem(24) rem(24) rem(16) rem(24);
		border-bottom: 1px solid #e8e8e8;
	}
	&__title {
		font-size: rem(24);
		display: flex;
		align-items: center;
		font-weight: 600;
		.icon {
			font-size: rem(24);
			margin-right: rem(8);
			margin-top: rem(2);
		}
	}
	&__content {
		padding: rem(20) rem(16) rem(24) rem(20);
		max-height: rem(554);
		overflow-y: auto;
		overflow-x: hidden;
		.row {
			--bs-gutter-y: #{rem(16)};
		}
	}
	&__footer {
		padding: rem(24);
		border-top: 1px solid #e8e8e8;
		margin-top: auto;
		text-align: right;
		.row {
			--bs-gutter-x: #{rem(16)};
			--bs-gutter-y: #{rem(8)};
		}
	}
	&__btn {
		--bs-btn-padding-x: #{rem(12)};
		--bs-btn-padding-y: #{rem(7)};
		--bs-btn-font-size: #{rem(16)};
		@include media-breakpoint-up(xl) {
			--bs-btn-font-size: #{rem(16)};
		}
		@include media-breakpoint-down(md) {
			--bs-btn-padding-y: #{rem(7)};
		}
		@include media-breakpoint-up(md) {
			--bs-btn-padding-y: #{rem(7)};
		}
		.icon {
			font-size: rem(24);
			margin-right: rem(4);
		}
	}
	&__notification {
		display: flex;
		border: 1px solid #e0e0e0;
		border-radius: 8px;
		position: relative;
		padding: rem(12) rem(45) rem(12) rem(15);
		&:hover {
			background-color: #f2f2f2;
		}
		img {
			flex: 0 0 auto;
			width: rem(40);
			height: rem(40);
			object-fit: cover;
			margin-right: rem(15);
			border-radius: 50%;
		}
		p {
			font-size: rem(14);
			margin-bottom: rem(4);
			color: #181818;
			strong {
				font-size: 600;
				line-height: 1.43;
			}
		}
		.row {
			--bs-gutter-x: #{rem(8)};
			font-size: rem(13);
			color: #838383;
		}
		.icon {
			position: absolute;
			font-size: rem(24);
			right: rem(16);
			top: 50%;
			transform: translateY(-50%);
			color: #181818;
		}
	}
	&__text {
		font-size: rem(14);
		color: #181818;
		line-height: 1.43;
		margin-bottom: rem(16);
		max-width: rem(500);
	}
	&__on-moderate {
		@include mt;
		display: flex;
		align-items: center;
		padding: rem(8) 0;
		margin-bottom: rem(16);
		.h6 {
			font-size: rem(16);
			color: #000;
			font-weight: 400;
			line-height: 1.5;
			margin-bottom: 0;
		}
		p {
			font-size: rem(14);
			color: #838383;
			margin-bottom: 0;
		}
		span {
			font-size: rem(16);
			color: #000;
			margin-left: auto;
		}
		.icon {
			color: #181818;
			font-size: rem(24);
			flex: 0 0 auto;
		}
	}
	&__content-row {
		--bs-gutter-y: #[rem(16)];
	}
}

.select2-container--open .select2-dropdown--below {
	top: 4px;
	border-radius: 4px;
	border: none;
	box-shadow: 0px 8px 32px rgba(0, 0, 0, 0.08);
	background-color: #fff;
}

.select2-results__options {
	padding: 8px;
	min-height: rem(284) !important;
}

.select2-container--default .select2-results__option {
	background-color: #fff;
	padding: rem(20) rem(16);
	font-size: rem(18);
	color: #000;
	img {
		width: rem(18);
		height: rem(18);
		object-fit: cover;
		margin-right: rem(16);
		@include media-breakpoint-up(lg) {
			width: rem(24);
			height: rem(24);
		}
	}
	&--highlighted {
		background-color: $gray-100 !important;
		color: #000 !important;
	}
}

.modal-register {
	display: flex;
	flex-direction: column;
	background-color: $white;
	max-width: 100%;
	position: relative;
	width: rem(640);
	min-height: rem(600);
	box-shadow: 0px 8px 32px rgba(0, 0, 0, 0.08);
	overflow: hidden;
	@include media-breakpoint-up(sm) {
		flex-direction: row;
		border-radius: rem(24);
	}
	@include media-breakpoint-down(sm) {
		min-height: calc(var(--vh, 1vh) * 100);
	}
	&__head {
		padding: rem(24);
		background-color: $light;
		position: relative;
		@include media-breakpoint-down(sm) {
			position: absolute;
			width: 100%;
			display: flex;
			justify-content: center;
			padding: rem(67) rem(52) rem(25);
		}
	}
	&__logo {
		font-weight: 800;
		font-size: rem(28);
		line-height: 100%;
		text-transform: uppercase;
	}
	&__content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		flex-grow: 1;
		position: relative;
		padding: rem(140) rem(52);
		font-size: rem(16);
		line-height: calc(24 / 16);
		@include media-breakpoint-up(sm) {
			padding: rem(72) rem(52);
		}
		& > * {
			margin-bottom: rem(16);
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
	&__btn {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		font-weight: 500;
		font-size: rem(16);
		line-height: calc(24 / 16);
		width: 100%;
		--bs-btn-padding-x: #{rem(50)};
		--bs-btn-padding-y: #{rem(11)};
		--bs-btn-hover-bg: #{$primary};
		--bs-btn-hover-border-color: #{$primary};
		img {
			position: absolute;
			@include a-cent(y);
			left: rem(20);
			width: rem(24);
			height: auto;
		}
	}
	&__enter {
		margin-bottom: 0;
	}
	&__terms {
		position: absolute;
		bottom: rem(32);
	}
}

//
@include media-breakpoint-up(xl) {
}

@include media-breakpoint-up(lg) {
}

@include media-breakpoint-up(md) {
}

@include media-breakpoint-up(sm) {
}

@include media-breakpoint-up(xs) {
}

//
@include media-breakpoint-between(md, xl) {
}

//
@include media-breakpoint-only(xs) {
}

@include media-breakpoint-only(sm) {
}

@include media-breakpoint-only(md) {
}

@include media-breakpoint-only(lg) {
}

@include media-breakpoint-only(xl) {
}

//
@include media-breakpoint-down(xl) {
}

@include media-breakpoint-down(lg) {
}

@include media-breakpoint-down(md) {
}

@include media-breakpoint-down(sm) {
}

@include media-breakpoint-down(xs) {
	.fancybox__container {
		width: 100% !important;
		min-height: 100%;
		transform: none !important;
	}
}

.fancybox-throwOutUp {
	animation: 0.25s ease both fancybox-throwOutUp;
}

.fancybox-throwOutDown {
	animation: 0.25s ease both fancybox-throwOutDown;
}

@keyframes fancybox-throwOutUp {
	from {
		transform: translate3d(0, -5%, 0);
		opacity: 0;
	}

	to {
		transform: translate3d(0, 0, 0);
		opacity: 1;
	}
}

@keyframes fancybox-throwOutDown {
	to {
		transform: translate3d(0, 10%, 0);
		opacity: 0;
	}
}

.fancybox__slide {
	@include media-breakpoint-down(sm) {
		padding: 0;
	}
}

.rating {
	// margin: 0 0 1em 0;
	// padding: 0;
	// border: none;
	/* Caption */

	// &__caption {
	// 	margin-bottom: 0.5em;
	// 	padding: 0;
	// }

	/* Group */
	&__title {
		margin-bottom: rem(4);
		line-height: calc(28 / 18);
		font-size: rem(16);
		@include media-breakpoint-up(lg) {
			font-size: rem(18);
		}
	}

	&__group {
		position: relative;
		--starSize: #{rem(24)};
		width: calc(var(--starSize) * 5);
		height: var(--starSize);
		background-image: url("../img/svg/star-off.svg");
		background-size: var(--starSize);
		background-repeat: repeat-x;
		@include media-breakpoint-up(lg) {
			--starSize: #{rem(32)};
		}
	}

	/* Input */

	&__input {
		position: absolute;
		width: 1px;
		height: 1px;
		overflow: hidden;
		clip: rect(0 0 0 0);
	}

	&__input:focus ~ &__focus {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: -1;
		outline: 0.2em solid #4a90e2;
		outline-offset: 0.2em;
	}

	/* Star */

	&__star {
		position: absolute;
		top: 0;
		left: 0;
		margin: 0;
		height: var(--starSize);
		background-size: var(--starSize);
		background-repeat: repeat-x;
	}

	&__star:hover,
	&__input:checked + &__star {
		background-image: url("../img/svg/star-on.svg");
	}

	&__star:hover ~ &__star {
		background-image: url("../img/svg/star-off.svg");
	}

	/* Options */

	&__star:nth-of-type(1) {
		z-index: 5;
		width: var(--starSize);
	}

	&__star:nth-of-type(2) {
		z-index: 4;
		// width: calc(rem(32) * 2);
		width: calc(var(--starSize) * 2);
	}

	&__star:nth-of-type(3) {
		z-index: 3;
		// width: calc(rem(32) * 3);
		width: calc(var(--starSize) * 3);
	}

	&__star:nth-of-type(4) {
		z-index: 2;
		// width: calc(rem(32) * 4);
		width: calc(var(--starSize) * 4);
	}

	&__star:nth-of-type(5) {
		z-index: 1;
		// width: calc(rem(32) * 5);
		width: calc(var(--starSize) * 5);
	}
}
