
mixin modal() 
	//  start modals
	//- a(href="#modal-call").link-modal-js modal-call 
	div(id="modal-call"  style="display: none" )
		+b.modal-win
			+form-wrap
				.text-center
					+e.title.form-data.h3.ttu Обратный звонок
					p.after-headline Заполните заявку и&nbsp;мы&nbsp;с&nbsp;Вами свяжемся в&nbsp;течение 15&nbsp;минут

				+input("Ваше Имя")(required)  
				+e.BUTTON.btn.btn(type="submit"  )  
				+policy()
	// #modal-call
	
	div(id="modal-review"  style="display: none" )
		+b.modal-review
			+form-wrap
				+e.head
					+e.title.form-data.h3 Новый отзыв
				+e.content
					.rating
						.rating__title Ваша оценка
						.rating__group
							input#mood-1.rating__input(type='radio' name='mood' value='1')
							label.rating__star(for='mood-1' aria-label='Ужасно')
							input#mood-2.rating__input(type='radio' name='mood' value='2')
							label.rating__star(for='mood-2' aria-label='Сносно')
							input#mood-3.rating__input(type='radio' name='mood' value='3' checked='')
							label.rating__star(for='mood-3' aria-label='Нормально')
							input#mood-4.rating__input(type='radio' name='mood' value='4')
							label.rating__star(for='mood-4' aria-label='Хорошо')
							input#mood-5.rating__input(type='radio' name='mood' value='5')
							label.rating__star(for='mood-5' aria-label='Отлично')
							.rating__focus
					+input("О чем ваш отзыв?")(required style="--bgImg: url(../img/svg/star-outline.svg);").with-icon
					+input("Выбрать категорию", "select")(style="--bgImg: url(../img/svg/catalog.svg);").with-icon
					+input("Заголовок отзыва")(required style="--bgImg: url(../img/svg/edit.svg);").with-icon
					+input("Здесь ваш отзыв (не менее 100 символов)", "textarea")(required)
					input(type="file" multiple ).filepond
					+e.plusMinus
						+e.switch.form-check.form-switch
							input#flexSwitchCheck.form-check-input(type='checkbox' role='switch')
							label.form-check-label(for='flexSwitchCheck') Указать плюсы и&nbsp;минусы
						+input("Плюсы", "textarea")(required)
						+input("Минусы", "textarea")(required)
					+input("Автор")(required style="--bgImg: url(../img/svg/user.svg);").with-icon
					+e.notice
						+in-c('checkbox', `Получать уведомления о новых отзывах на электронную почту`)(checked)

				+e.footer
					.row
						.col
							+e.BUTTON.btn.btn.btn-light Отменить
						.col
							+e.BUTTON.btn.btn.btn-primary(type="submit") Опубликовать
					+e.agreement Отправляя отзыв вы&nbsp;автоматически соглашаетесь с&nbsp;условиями 
						a(href="") Пользовательского соглашения
	// #modal-review

	div(id="modal-register"  style="display: none" )
		+b.modal-register
			+e.head
				+e.logo Anonimno
			+e.content
				h5 Регистрация
				mixin regbtn(img, text)
					+e.btn.btn.btn-light(href="#")
						+img(`img/svg/${img}.svg`)
						span!= text
				+regbtn(`VK`, `Вконтакте`)
				+regbtn(`message`, `Почта`)
				+regbtn(`google`, `Google`)
				+regbtn(`yandex`, `Yandex`)
				+regbtn(`smile`, `Анонимно`)
				+e.enter Есть аккаунт? 
					a(href="#") Войти
				+e.A.terms(href="#") Условия использования
				

	// #modal-register

	// end modals