
mixin modal() 
	//  start modals

	div(id="modal-review"  style="display: none" )
		+b.modal-review
			+form-wrap
				+e.head
					+e.title.form-data.h3 Новый отзыв
				+e.content
					.rating
						.rating__title Ваша оценка
						.rating__group
							input#mood-1.rating__input(type='radio' name='mood' value='1')
							label.rating__star(for='mood-1' aria-label='Ужасно')
							input#mood-2.rating__input(type='radio' name='mood' value='2')
							label.rating__star(for='mood-2' aria-label='Сносно')
							input#mood-3.rating__input(type='radio' name='mood' value='3' checked='')
							label.rating__star(for='mood-3' aria-label='Нормально')
							input#mood-4.rating__input(type='radio' name='mood' value='4')
							label.rating__star(for='mood-4' aria-label='Хорошо')
							input#mood-5.rating__input(type='radio' name='mood' value='5')
							label.rating__star(for='mood-5' aria-label='Отлично')
							.rating__focus
					+input("О чем ваш отзыв?", '', 'О чем ваш отзыв?', '', 'custom-input-wrap')(required style="--bgImg: url(../img/svg/star-outline.svg);").with-icon
					//- +input("Выбрать категорию", "select")(style="--bgImg: url(../img/svg/catalog.svg);").with-icon
					.form-wrap__input-wrap
						span
						select.custom-select.custom-select--js(name="category" data-placeholder=`<img src="img/svg/select-icon-5.svg"> Выбрать категорию`) 
							option(data-img='img/svg/select-icon-1.svg' value='Промокоды') Промокоды
							option(data-img='img/svg/select-icon-2.svg' value='Еда и продукты') Еда и продукты
							option(data-img='img/svg/select-icon-3.svg' value='Одежда и обувь') Одежда и обувь
							option(data-img='img/svg/select-icon-4.svg' value='Электроника') Электроника
							option(data-img='img/svg/select-icon-1.svg' value='Промокоды') Промокоды
							option(data-img='img/svg/select-icon-2.svg' value='Еда и продукты') Еда и продукты
							option(data-img='img/svg/select-icon-3.svg' value='Одежда и обувь') Одежда и обувь
							option(data-img='img/svg/select-icon-4.svg' value='Электроника') Электроника
					+input("Заголовок отзыва", '', 'Заголовок отзыва', '', 'custom-input-wrap')(required style="--bgImg: url(../img/svg/edit.svg);").with-icon
					+input("Здесь ваш отзыв (не менее 100 символов)", "textarea", 'Здесь ваш отзыв (не менее 100 символов)', '', 'custom-input-wrap')(required)
					input(type="file" multiple data-allow-reorder="true").filepond
					+e.plusMinus
						+e.switch.form-check.form-switch
							input#flexSwitchCheck.form-check-input(type='checkbox' role='switch')
							label.form-check-label(for='flexSwitchCheck') Указать плюсы и&nbsp;минусы
						+input("Плюсы", "textarea", 'Плюсы', '', 'custom-input-wrap')(required)
						+input("Минусы", "textarea", 'Минусы', '', 'custom-input-wrap')(required)
					+input("Автор", '', 'Автор', '', 'custom-input-wrap')(required style="--bgImg: url(../img/svg/user.svg);").with-icon
					+e.notice
						+in-c('checkbox', `Получать уведомления о новых отзывах на электронную почту`)(checked)

				+e.footer
					.row
						.col
							+e.BUTTON.btn.btn.btn-light Отменить
						.col
							+e.BUTTON.btn.btn.btn-primary(type="submit") Опубликовать
					+e.agreement Отправляя отзыв вы&nbsp;автоматически соглашаетесь с&nbsp;условиями 
						a(href="") Пользовательского соглашения
	// #modal-review

	div(id="modal-review-2"  style="display: none" )
		+b.modal-review--2
			+modalSidebar
			+form-wrap
				+e.head
					+e.title.form-data.h3(href='#') 
						+icon('arrow-left')
						| Добавление отзыва
				+e.content
					.rating
						.rating__title Ваша оценка
						.rating__group
							input#mood-6.rating__input(type='radio' name='mood' value='6')
							label.rating__star(for='mood-6' aria-label='Ужасно')
							input#mood-7.rating__input(type='radio' name='mood' value='7')
							label.rating__star(for='mood-7' aria-label='Сносно')
							input#mood-8.rating__input(type='radio' name='mood' value='8' checked='')
							label.rating__star(for='mood-8' aria-label='Нормально')
							input#mood-9.rating__input(type='radio' name='mood' value='9')
							label.rating__star(for='mood-9' aria-label='Хорошо')
							input#mood-10.rating__input(type='radio' name='mood' value='10')
							label.rating__star(for='mood-10' aria-label='Отлично')
							.rating__focus
					+input("", '', 'О чем ваш отзыв?')
						p Опишите в кратце о чем собираетесь донести пользователям
					//- +input("Выбрать категорию", "select")(style="--bgImg: url(../img/svg/catalog.svg);").with-icon
					.form-wrap__input-wrap
						span.form-wrap__input-title Выбрать категорию
						select.custom-select.custom-select--js(name="category" data-placeholder=`<img src="img/svg/select-icon-5.svg"> Выбрать категорию`) 
							option(data-img='img/svg/select-icon-1.svg' value='Промокоды') Промокоды
							option(data-img='img/svg/select-icon-2.svg' value='Еда и продукты') Еда и продукты
							option(data-img='img/svg/select-icon-3.svg' value='Одежда и обувь') Одежда и обувь
							option(data-img='img/svg/select-icon-4.svg' value='Электроника') Электроника
							option(data-img='img/svg/select-icon-1.svg' value='Промокоды') Промокоды
							option(data-img='img/svg/select-icon-2.svg' value='Еда и продукты') Еда и продукты
							option(data-img='img/svg/select-icon-3.svg' value='Одежда и обувь') Одежда и обувь
							option(data-img='img/svg/select-icon-4.svg' value='Электроника') Электроника
						p Выберите категорию к которой относится ваш отзыв
					+input("", '', 'Заголовок отзыва')
						p Укажите заголовок вашего отзыва его увидят все
					+input("Здесь ваш отзыв", "textarea", "Здесь ваш отзыв (не менее 100 символов)")
						p Не менее 100 символов
					input(type="file" multiple data-allow-reorder="true").filepond
					+e.plusMinus
						+e.switch.form-check.form-switch
							input#flexSwitchCheck.form-check-input(type='checkbox' role='switch')
							label.form-check-label(for='flexSwitchCheck') Указать плюсы и&nbsp;минусы
						+input("", "textarea", 'Плюсы')
							p Опишите плюсы как можно подробнее
						+input("", "textarea", 'Минусы')
							p Опишите минусы как можно подробнее
					+policy

				+e.footer
					.row
						.col-auto.ms-auto
							+e.BUTTON.btn.btn.btn-light Отмена
						.col-auto
							+e.BUTTON.btn.btn.btn-primary(type="submit") Опубликовать
	// #modal-review-2

	div(id="modal-register"  style="display: none" )
		+b.modal-register
			+e.head
				+e.logo Anonimno
			+e.content
				h5 Регистрация
				mixin regbtn(img, text)
					+e.btn.btn.btn-light(href="#")
						+img(`img/svg/${img}.svg`)
						span!= text
				+regbtn(`VK`, `Вконтакте`)
				+regbtn(`message`, `Почта`)
				+regbtn(`google`, `Google`)
				+regbtn(`yandex`, `Yandex`)
				+regbtn(`smile`, `Анонимно`)
				+e.enter Есть аккаунт? 
					a(href="#") Войти
				+e.A.terms(href="#") Условия использования

	// #modal-register

	
	div(id="modal-notifications"  style="display: none" )
		+b.modal-review--2
			+modalSidebar
			+b.modal-content
				+e.head
					+e.title Уведомления
				+e.content
					.row
						.col-12
							+e.notification(href='#')
								+img('img/avatar-11.jpg')
								div
									p #[strong Анастасия Барыкина] ответил(-а) на ваш комментарий: «Спасибо автору, очень познавательно...»
									.row
										.col-auto 16.09.2022
										.col-auto 22:55
								+icon('rightUp')
						.col-12
							+e.notification(href='#')
								+img('img/avatar-13.jpg')
								div
									p #[strong Евгения Антонова] поставил(-а) лайк вашему комментарию: «Спасибо автору, очень познавательно...»
									.row
										.col-auto 16.09.2022
										.col-auto 22:55
								+icon('rightUp')
				+e.footer
					.row
						.col-auto.ms-auto
							+e.BUTTON.btn.btn.btn-light Отмена
						.col-auto
							+e.BUTTON.btn.btn.btn-primary(type="submit") Опубликовать
	// #modal-notifications

	div(id="modal-my-reviews"  style="display: none" )
		+b.modal-review--2
			+modalSidebar
			+b.modal-content
				+e.head
					+e.title Мои отзывы
				+e.content
					+e.text Здесь ваши отзывы, вы можете создавать новые, редактировать и удалять свои отзывы
					+e.on-moderate(href='#')
						div
							.h6 Отзывы на модерации
							p Отзывы которые находятся на модерации
						span 4
						+icon('chevron-right')
					+e.content-row.row
						.col-12
							+review('Наушники True Wireless JBL Tune 230NC TWS Black', 'Если&nbsp;бы и&nbsp;хотел придраться, то&nbsp;совершенно нет оснований. Сели идеально, хотя раньше перепробовал несколько...', '647', '180')
						.col-12
							+review('Телевизор Haier 55 Smart TV AX Pro', 'Супер телевизор! Отличная картинка, очень сочное изображение, которое можно настроить под себя. Звук...', '74', '14')
						.col-12
							+review('Наушники True Wireless JBL Tune 230NC TWS Black', 'Если&nbsp;бы и&nbsp;хотел придраться, то&nbsp;совершенно нет оснований. Сели идеально, хотя раньше перепробовал несколько...', '647', '180')
						.col-12
							+review('Телевизор Haier 55 Smart TV AX Pro', 'Супер телевизор! Отличная картинка, очень сочное изображение, которое можно настроить под себя. Звук...', '74', '14')
				+e.footer
					+e.BUTTON.btn.btn.btn-primary(type="submit") 
						+icon('plus')
						| Добавить отзыв
	// #modal-review
	
	div(id="modal-on-moderate"  style="display: none" )
		+b.modal-review--2
			+modalSidebar
			+b.modal-content
				+e.head
					+e.title.form-data.h3(href='#') 
						+icon('arrow-left')
						| На модерации
				+e.content
					+e.text Здесь ваши отзывы, вы можете создавать новые, редактировать и удалять свои отзывы
					+e.content-row.row
						.col-12
							+review('Наушники True Wireless JBL Tune 230NC TWS Black', 'Если&nbsp;бы и&nbsp;хотел придраться, то&nbsp;совершенно нет оснований. Сели идеально, хотя раньше перепробовал несколько...', '647', '180')
	// #modal-review

	div(id="modal-comments"  style="display: none" )
		+b.modal-review--2
			+modalSidebar
			+b.modal-content
				+e.head
					+e.title Комментарии
				+e.content
					
					
	// #modal-comments

	div(id="modal-favorites"  style="display: none" )
		+b.modal-review--2
			+modalSidebar
			+b.modal-content
				+e.head
					+e.title Избранное
				+e.content
					
					
	// #modal-favorites

	div(id="modal-editing"  style="display: none" )
		+b.modal-review--2
			+modalSidebar
			+form-wrap
				+e.head
					+e.title.form-data.h3 Редактирование
				+e.content
					+e.avatar-row.row
						.col-auto.order-sm-last
							+e.item
								+e.wrap
									+e.btn-delete: +icon('camera')
									+e.block
										input(type="file" name="file1")
										img(class="img-bg" src="#" alt="")
										+icon('camera')
						.col-sm
							+input("", "", "Ваше имя")
								p Hint
					+input("", "tel", "Телефон")
						p Hint
					+input("", "email", "Электронная почта")
						p Hint
					+e.announcements
						+e.input-title Получать уведомления на электронную почту:
						+in-c('checkbox', `Новые отзывы`)(checked)
						+in-c('checkbox', `Ответы на ваши комментарии`)(checked)
						+in-c('checkbox', `Лайки комментариев`)
						+in-c('checkbox', `Дизлайки комментариев`)
				+e.footer
					.row
						.col-auto.ms-auto
							+e.BUTTON.btn.btn.btn-light Отмена
						.col-auto
							+e.BUTTON.btn.btn.btn-primary(type="submit") Опубликовать
	// #modal-editing

	// end modals