mixin headerBlock()
	// start headerBlock
	+b.headerBlock.section#headerBlock&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 headerBlock ds dfsdfdsfsd

			.row
				.col-auto
					+e.btn.btn.btn-primary Кнопка
				.col-auto
					+e.btn.btn.btn-primary Кнопка
				.col-auto
					+e.btn.btn.btn-primary Кнопка
			+pagin-lg()
			+pagin-sm()
	// end headerBlock