extends ../layout/main.pug

include ../blocks/headerBlock/_headerBlock.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sContent/_sContent.pug
 
include ../blocks/sForm/_sForm.pug
include ../blocks/sNews/_sNews.pug
include ../blocks/sComments/_sComments.pug

block variables
	- let  mainPage= 'main-page-2' 
	- let  bg= 'main.jpg'

block title
	- let  title= 'ANONIMNO'
	title= title
block pagecontent
	//- +mob-mnu()
	
	
	+parts('header')
	main
		//- +headerBlock
		.container-img.container-fluid.container-lg
			+img('img/sContent-img-1.png').bg-img
		+sContent
			+sidebar
			+e.wrap
				+breadcrumb('Epicris', 'Путешествия')
				h1 ТОП-8 лучших сайтов для покупки авиабилетов&nbsp;&mdash; Рейтинг 2023 года
				+e.span-row.row
					.col-auto
						span 13 апреля 2022
					.col-auto
						span Сергей  Триколенов
					.col-auto
						+icon('eye')
						span 47 387
				p Когда нужно совершить перелет из&nbsp;одного города в&nbsp;другой, встает вопрос, где лучше купить недорогие авиабилеты на&nbsp;самолет. В&nbsp;дополнение к&nbsp;возможности бронирования билетов напрямую у&nbsp;авиакомпаний, есть десятки сайтов для покупки&nbsp;авиабилетов у&nbsp;#[a(href='#') онлайн турагентств]. Они не&nbsp;гарантируют лучшую стоимость рейса, но&nbsp;часто предлагают выгодные скидки.
				p Есть много факторов, которые влияют на&nbsp;цену билета: дата, время вылета, авиакомпания и&nbsp;класс (бизнес или эконом). Если у&nbsp;вас ограниченный бюджет или ищите онлайн билет на&nbsp;самолет в&nbsp;последние минуты&nbsp;&mdash; это не&nbsp;повод переживать. Хорошие сайты агрегаторы подберут недорогую авиакомпанию с&nbsp;полетами в&nbsp;Европу, Азию и&nbsp;Соединенные Штаты Америки.
				p Для удобства использования сервиса есть мобильные приложения на&nbsp;#[a(href='#') смартфоны на&nbsp;Android] и&nbsp;iOS. В&nbsp;них установлено онлайн табло всех рейсов, полезные советы как собрать багаж, как пройти регистрацию в&nbsp;аэропорту и&nbsp;что делать если рейс задерживают. Воспользуйтесь рейтингом лучших сайтов по&nbsp;продаже авиабилетов, чтобы сэкономить деньги на&nbsp;перелетах в&nbsp;2023&nbsp;году. 
				h2 1. Title name
				+img('img/sContent-img-2.jpg').img
				p Когда нужно совершить перелет из&nbsp;одного города в&nbsp;другой, встает вопрос, где лучше купить недорогие авиабилеты на&nbsp;самолет. В&nbsp;дополнение к&nbsp;возможности бронирования билетов напрямую у&nbsp;авиакомпаний, есть десятки сайтов для покупки авиабилетов у&nbsp;#[a(href='#') онлайн турагентств]. Они не&nbsp;гарантируют лучшую стоимость рейса, но&nbsp;часто предлагают выгодные скидки.
				+e.btn.btn.btn-primary(href='#') Перейти на сайт
			+sComments
		+sNews
	+parts('footer')
      



