mixin menu-toggle()
	+b.toggle-menu-mobile--js
		span
mixin mob-mnu(second)
	-
		//- let path = require('path');
		//- let fs = require('fs');
		//- var requestURL = 'top-nav.json';
		//- var request = new XMLHttpRequest();
		//- request.open('GET', requestURL);
		//- request.responseType = 'json';
		//- let dataJson = JSON.parse(json);
	//- h1= dataJson['lala'] 
	+b.menu-mobile--js&attributes(attributes)
		//- +b.toggle-menu-mobile--js
		//- 	span
		+e.inner
			+e.wrap
				+menu-toggle()
				if second
					+e.logo.d-lg-none(href='/'): +img('img/svg/logo.svg')
				else
					+e.logo.d-lg-none(href='/') ANONIMNO
			if second
				+e.btn.btn.btn-sm.btn-primary.d-md-none(href='#' data-src='#modal-review' data-fancybox).btn-modal-js Добавить отзыв
			else
				+e.btn.btn.btn-sm.btn-primary.d-md-none(href='#' data-src='#modal-review' data-fancybox).btn-modal-js Оставить отзыв
			+mnu()
	//  мобильное меню
mixin top-nav() 
	// start top-nav
	+b.top-nav.block-with-lazy
		.container-fluid.custom-container
			+e.row.row
				.col-auto
					+e.wrap
						+menu-toggle()
						+e.logo(href='/') ANONIMNO
				.col
					+search()
				.col-auto.d-none.d-md-block
					+e.btn.btn.btn-sm.btn-primary(href='#' data-src='#modal-review' data-fancybox).btn-modal-js Оставить отзыв
				//- .col-auto.p-0.m-0
				//- 	.menu-mobile.menu-mobile--js
				//- 		.menu-mobile__inner
				//- 			+e.wrap
				//- 				+menu-toggle()
				//- 				+e.logo.d-lg-none(href='/') ANONIMNO
				//- 			+e.btn.btn.btn-sm.btn-primary.d-md-none(href='#') Оставить отзыв
				//- 			+mnu()
				//- .col-auto.d-lg-none
	// end top-nav

mixin top-nav2() 
	// start top-nav
	+b.top-nav.block-with-lazy
		+e.container.container-fluid.container-lg
			+e.row.row
				.col-auto
					+e.wrap
						+menu-toggle()
						+e.logo(href='/'): +img('img/svg/logo.svg')
				.col
					+search()
				.col-auto
					+e.wrap
						+e.btn.btn.btn-sm.btn-primary(href='#' data-src='#modal-review' data-fancybox).btn-modal-js.d-none.d-md-flex Добавить отзыв
						+e.login.btn.btn-sm.btn-light(href='#' data-src='#modal-review' data-fancybox).btn-modal-js Войти
	// end top-nav