mixin menu-toggle()
	+b.toggle-menu-mobile--js
		span
mixin mob-mnu()
	-
		//- let path = require('path');
		//- let fs = require('fs');
		//- var requestURL = 'top-nav.json';
		//- var request = new XMLHttpRequest();
		//- request.open('GET', requestURL);
		//- request.responseType = 'json';
		//- let dataJson = JSON.parse(json);
	//- h1= dataJson['lala'] 
	+b.menu-mobile--js
		+b.toggle-menu-mobile--js
			span
		+e.inner
			+mnu()
	//  мобильное меню
mixin top-nav() 
	// start top-nav
	+b.top-nav.block-with-lazy
		.container-fluid.custom-container
			+e.row.row
				.col-auto
					+e.wrap
						+menu-toggle()
						+e.logo(href='/') ANONIMNO
				.col
					+search()
				.col-auto.d-none.d-md-block
					+e.btn.btn.btn-sm.btn-primary(href='#') Оставить отзыв
				.col-auto.p-0.m-0
					.menu-mobile.menu-mobile--js
						.menu-mobile__inner
							+e.wrap
								+menu-toggle()
								+e.logo.d-lg-none(href='/') ANONIMNO
							+e.btn.btn.btn-sm.btn-primary.d-md-none(href='#') Оставить отзыв
							+mnu()
				//- .col-auto.d-lg-none
	// end top-nav