mixin menu-item(url, icon, name)
	li.menu-item(itemprop="item" )
		a(href= `${url}` itemprop="url" )
			.nav-icon&attributes(attributes)
				+img(`img/svg/menu-${icon}.svg`)
			span!= name

mixin mnu()
	nav
		ul.menu(itemscope itemtype="http://schema.org/SiteNavigationElement")
			+menu-item(`#`, `ticket`, `Промокоды`)(style="--bgColor: #FCFAD5;")
			+menu-item(`#`, `food`, `Еда и&nbsp;продукты`)(style="--bgColor: #D3FFDD;")
			+menu-item(`#`, `shoe`, `Одежда и&nbsp;обувь`)(style="--bgColor: #E2F5FF;")
			+menu-item(`#`, `electronics`, `Электроника`)(style="--bgColor: #F5E9FF;")
			+menu-item(`#`, `beauty`, `Красота и&nbsp;парфюм`)(style="--bgColor: #FEDEF3;")
			+menu-item(`#`, `house`, `Дом и&nbsp;ремонт`)(style="--bgColor: #FEDEF3;")
			+menu-item(`#`, `hobby`, `Хобби и&nbsp;развлечения`)(style="--bgColor: #DAFDFF;")
			+menu-item(`#`, `jewelry`, `Цветы и&nbsp;подарки`)(style="--bgColor: #EAFBD4;")
			+menu-item(`#`, `repear`, `Сервисы и&nbsp;услуги`)(style="--bgColor: #F2E6E2;")
			+menu-item(`#`, `plane`, `Путешествия`)(style="--bgColor: #E4F2FF;")
			li.menu-item.menu-item--all(itemprop="item" )
				a(href= `#` itemprop="url") Все категории
			//- each link in nav
			//- 	li.menu-item(itemprop="item" ): a(href= link.url itemprop="url")= link.name
			//- 	if link.subnav
			//- 		li.menu-item.menu-item-has-children
			//- 			a(href="#" itemprop="url") О нас
			//- 			ul.sub-menu
			//- 				each sublink in link.subnav
			//- 					li.menu-item(itemprop="item" ): a(href= sublink.url itemprop="url")= sublink.name

//- menu
