//- pugination
mixin pagin-li(n)
	li.page-item&attributes(attributes)
		if n
			a.page-link(href='#')= n 
		else
			block
			
mixin pagin-lg()
	nav.pagination-wrapper&attributes(attributes)
		ul.pagination
			+pagin-li().disabled
				a.prev.page-link(href="#")
					+icon('chevronLeft')
			+pagin-li().active
				span.page-link 1
			- for (var x = 2; x < 4; x++)
				+pagin-li(x)
			+pagin-li()
				span.page-link ...
			- for (var x = 12; x < 15; x++)
				+pagin-li(x)
			+pagin-li()
				a.next.page-link(href='#')
					+icon('chevronRight')

mixin pagin-sm()
	nav.pagination-wrapper&attributes(attributes)
		ul.pagination
			+pagin-li().disabled
				a.prev.page-link(href="#")
					+icon('chevronLeft')
			+pagin-li().active
				span.page-link 1
			- for (var x = 2; x < 5; x++)
				+pagin-li(x)
			+pagin-li()
				a.next.page-link(href='#')
					+icon('chevronRight')
