mixin item-sos(icon, bgColor, a='#')
	+e.A.item(href= a target="_blank" style=`--bgColor: ${bgColor}`)
		if block
			block
		else
			+img(`img/svg/${icon}.svg`).img-svg-js
//- social buttons
mixin soc()
	+b.soc
		if block
			block
		else
			each soc in social
				+item-sos(soc.icon, soc.bgColor)

//- /social buttons 